*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container, .container-fluid{
    border: 1px solid black;
    min-height: 100px;
}

[class*="col"] {
    min-height: 200px;
    background-color: pink;
    border: 1px solid black;
    position: relative;
    
}

.Nested{
    background-color: coral;
    border: 8px solid pink;  
}

p{
    text-align: center;
    position: absolute;
    transform: translate( -50%, 50%);
    top: 40%;
    left: 50%;
}